PORT_APP=8080
PORT_DARKNET_MJPEG_STREAM=8090
PORT_DARKNET_JSON_STREAM=8070
MONGODB_URL=mongodb://mongo:27017
INFERENCE_SIDECAR_URL=http://localhost:9080
OPENDATACAM_V2_MJPEG_FALLBACK_LEGACY=true
OPENDATACAM_V2_USE_SIDECAR_DETECTIONS=false
